@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Poppins', sans-serif;
    src: font-url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap') format('truetype');
}

html,
body {
    background: #141629;
    font-family: Poppins !important;
}

.container {
    border-radius: 38px;
}

/* 
    Header
*/

.header {
    background: linear-gradient(46.77deg, #DEF5FE 14.02%, #F9E7FF 48.07%, #FEEBE3 69.02%, #FFF1CC 91.84%);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative
}

.header .menu-icon {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.header .logo {
    width: 150px;
}

.menu-link {
    text-decoration: none;
    color: #333;
}

/* 
    Fonts
*/

.title.MuiTypography-root {
    background: linear-gradient(15deg, #6BC6F5 3.37%, #EE94ED 50.17%, #F5BC68 83.44%, #EFCA45 110.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
}

.comments.MuiTypography-root {
    font-size: 12px;
    font-style: italic;
    padding: 16px;
}

/* 
    Buttons
*/

.join-button.MuiButtonBase-root {
    padding: 15px 50px;
}

/* 
    Home
*/

.join-container {
    background:
        url("/public/images/Robot/1.png") left 30% top 100px no-repeat,
        url("/public/images/Robot/2.png") right 10% top 35px no-repeat,
        url("/public/images/Robot/3.png") right top 120px no-repeat,
        url("/public/images/Robot/4.png") right 15% top 280px no-repeat,
        url("/public/images/Robot/5.png") right 10% top 450px no-repeat,
        url("/public/images/Robot/6.png") left 15% top 450px no-repeat,
        url("/public/images/Robot/7.png") left 10% top 350px no-repeat,
        url("/public/images/Robot/8.png") left top 200px no-repeat,
        url("/public/images/Robot/robot.png") left 50% top 150px no-repeat,
        linear-gradient(46.77deg, #DEF5FE 14.02%, #F9E7FF 48.07%, #FEEBE3 69.02%, #FFF1CC 91.84%);
    height: 800px;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.join-card.MuiPaper-root {
    border-radius: 38px;
    padding: 16px;
}

.join-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.join-link.MuiLink-root {
    color: black;
    text-decoration-color: black;
}

.treatcoin-container {
    border-bottom: 13px solid transparent;
    border-image: url("/public/images/border.png") 100 13;
    display: flex;
    align-items: center;
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 50px 20px;
}

.prize-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.prize-card-container {
    width: 100%;
    height: 400px;
    background-size: 100%;
    background: url("/public/images/prize.png") center no-repeat;
    display: flex;
    justify-content: center;
}

.prize-card {
    width: fit-content;
    margin-top: 240px;
    border-radius: 25px;
    background: linear-gradient(126.82deg, rgba(192, 232, 255, 0.4) 0.03%, rgba(192, 232, 255, 0) 113.88%);
    filter: drop-shadow(0px 4px 30px #121424);
    backdrop-filter: blur(15px);
}

.prize-card-title {
    padding: 5px 15px;
    background: linear-gradient(126.82deg, rgba(192, 232, 255, 0.4) 0.03%, rgba(192, 232, 255, 0) 113.88%);
    filter: drop-shadow(0px 4px 30px #121424);
    backdrop-filter: blur(15px);
    border-radius: 25px 25px 0px 0px;
}

.prize-award-container {
    display: flex;
    gap: 10px;
}

.prize-award-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.prize-card-content {
    padding: 25px;
}

.prize-card-content .MuiTypography-root {
    background: linear-gradient(180deg, #AB4FD1 21.67%, #F1C0F8 77.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 1px #F5CAFA;
}

.leader-board-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.leader-board-card {
    background: linear-gradient(138.74deg, #8938B9 7.25%, #6219DE 65.79%);
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leader-board-card .award-lists {
    border-radius: 38px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.leader-board-card .award-lists>.award-lists-content {
    background: #F6F7FB;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 38px;
}

.leader-board-card .award-lists>.award-lists-content>.award-lists-item {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.leader-board-card .award-lists>.award-lists-content>.award-lists-item>* .award-lists-item-number {
    width: 45px;
    height: 45px;
    background: url("/public/images/awards/item.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
}

.offer-container .offer-item {
    text-align: left;
}

.offer-container .offer-item>img:last-child {
    margin-top: 20px;
    border-radius: 20px;
}

.offer-container .MuiLink-root {
    color: white;
    text-decoration-color: white;
}


/* 
    Payout Card
*/

.payout-card {
    background-color: #fff;
    border-radius: 48px;
    box-shadow: 0px 4px 4px rgba(159, 125, 219, 0.15);
    padding: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.payout-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.payout-card-description .MuiTypography-root {
    line-height: 1.5;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    margin-bottom: 4px;
}

.payout-card-actions {
    display: flex;
    gap: 16px;
}