
.swiper-pagination-bullets {
  display: none;
}
.swiper {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  /* color: transparent; */
  -webkit-text-stroke: 1px white;
  /* color: #CB8F6D; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 41px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: '100%';
  object-fit: cover;
}

.swiper-slide-active{
  -webkit-text-stroke: unset;
}

.swiper-slide-active .MuiTypography-root.MuiTypography-h5{
  color: #CB8F6D;
}